.navbar {
    display: flex;
    padding: 0.5rem 2rem;
    background-color: lightcoral;
    .navOption {
        color: black;
        text-decoration: none;
    }
    .navActive {
        color: darkblue;   
    }
}

