.backgroundImgDiv {
    background-image: url(../../img/nature1.webp);
    background-repeat: no-repeat;
    background-position: bottom 20% right 30%;
    .content {
        height: 83.8vh;
        margin-bottom: 0px;
    }
}